{% extends "layout.html" %}

{% block content %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Paint like a master artist</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/StyleSheet1.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>

    <p>monet page</p>

</body>
{% endblock %}