body {
    margin: 0;
    background: linear-gradient(0deg, #664600e3 0%, #a2d4de 100%);
    background-size: 100% 1450px;
    padding: 1em;
    margin-top: 30pt;
    overflow: visible;
}

.range-slider {
    max-width: 30em;
    margin: 2em auto;
    float: left;
    width: 280px;
    max-height: 20px;
    padding-left: 20px;
    padding-right: 30px;
    align-content: center;    
}

.column {
    width: 180px;
    padding-left: 20px;
    float: left;
    display: flex;
    color: black;
    text-shadow: 2px 3px 5px black;
}

.column2 {
    column-width: auto;
    word-wrap: normal;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 30px;
    border: 0px;
    margin: 0px;
    font-size: 24px;
}

.column3 {
    display: block;
    column-width: 100px;
    word-wrap: normal;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 20px;
    border: 0px;
    margin: 0px;
    font-size: 24px;
}

.column4 {
    column-count: 1;
    width: 240px;
    float: left;
    display: block;
    color: white;
    text-shadow: 2px 3px 5px black;
    padding-top: 140px;
}

h7 {
    width: 220px;
    font-size: 18px;    
    color: white;
    text-shadow: 2px 3px 5px black;
    padding-left: 0px;
}

hr {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

range-slider .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.4em;
    outline: none;
    border-radius: 3px;
    background: #1f1f1f;
    box-shadow: 3px 3px 6px #000, inset 1px 1px 1px #909090;
}

range-slider .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.7em;
    height: 1.7em;
    cursor: pointer;
    z-index: 3;
    position: relative;
}

.range-slider .slider-thumb {
    position: absolute;
    width: 1.7em;
    height: 1.7em;
    background: #090909;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: inset 0px 1px 2px #090909;
}

canvas {
    background-color: white;
    margin-top: 0px;
    margin-left: 380px;
    margin-bottom: 10px;
    border-color: black;
    border-width: 4px;
    width: 750px;
    height: 500px;
    transform: translateX(200px), translateY(-50px);
}

range-slider .slider-thumb::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.7em;
    height: 0.7em;
    background: #333;
    border-radius: inherit;
    transition: 0.3s;
}

range-slider:hover .slider-thumb:before {
    background: #2ae9c9;
}

.range-slider .tooltip {
    position: absolute;
    width: 2.8em;
    height: 2em;
    top: -2em;
    left: 50%;
    transform: translate( -50%, -50%);
    background: #090909;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0px 1px 2px #1f1f1f, inset 0px 1px 2px #909090;
}

.range-slider .tooltip::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #090909;
    bottom: -0.5em;
    left: 50%;
    transform: translate(-50%);
}

.range-slider .progress {
    width: 50%;
    height: 0.4em;
    border-radius: 3px;
    background: linear-gradient(90deg, #335bf4 0%, #2ae9c9 100%);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    pointer-events: none;
}

@media screen and (max-width: 700px) {
    .neu-range-slider {
        width: 100%;
    }
}
