{% extends "layout.html" %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Paint like a master artist</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/StyleSheet1.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</head>
{% block content %}
<body>
    <h1><b>Meet the Artists</b></h1>
    <div class="column2">
        <section>
            <h2> &emsp; &emsp;Jackson Pollock</h2>
            <a><img src="https://m.media-amazon.com/images/M/MV5BNzc2YzNlYzctMWE3Yy00NjRjLWEyYWUtNmY4YThjMjc3Yjk1XkEyXkFqcGdeQXVyNjUxMjc1OTM@._V1_.jpg" width=120 height=150></a>
            <p><a>Born:3433</a></p>
            <p><a>Died:3433</a></p>
            <p><a>Pollock ersefdfsdfsdf</a></p>
        </section>
</div>
    <div class="column2">
        <h2> &emsp;Piet Mondrian</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/83/Piet_Mondriaan.jpg" width=120 height=150>
    </div>
    <div class="column2">
        <h2> &emsp;Claude Monet</h2>
        <img src="http://t1.gstatic.com/licensed-image?q=tbn:ANd9GcS9cumAy4tq60h12fAPA8RnQgMxQakJHgeKgJpDAcge2UeAaoqMbJNzf361oSfk04q2" width=120 height=150>
    </div>
</body>
{% endblock %}