<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" debug="True">
    <title>Paint like Pollock</title>
    <link href="../static/content/site.css" rel="stylesheet" />
    <img id="img_pollock" src="https://www.theartstory.org/images20/works/pollock_jackson_5.jpg" width="120" height="80" hidden="True" />
    <img id="img_pollock2" src="https://i.pinimg.com/736x/ab/99/2f/ab992f6d4997597c7a42dd181eee2017--jackson-pollock-print-design.jpg" width="120" height="80" hidden="True" />
    <img id="img_pollock3" src="https://images-na.ssl-images-amazon.com/images/I/A1JeHXqWugL._SL1500_.jpg" width="120" height="80" hidden="True" />
    <img id="clear" src="https://th.bing.com/th/id/R.bf4d12f88b69160168e8562d2ae74829?rik=3ZjhvhUIva3X0Q&riu=http%3a%2f%2fwww.clker.com%2fcliparts%2f4%2fo%2fM%2fw%2f6%2fH%2fclear-blue.svg.hi.png&ehk=4mjhKEpqwcMMvxYSfxyKeEDRTA6pDAxKrnfdyApxrbg%3d&risl=&pid=ImgRaw&r=0" hidden= "true"></img>
    <a href="sale.html"><img id="save" src="https://th.bing.com/th/id/OIP.CkDwBRtDuyt40SvZhcby4QHaC4?pid=ImgDet&rs=1" href="sale.html" hidden="true"></img></a>
</head>

<body>
    <h1>Paint Like Pollock</h1>
    <canvas id="canvas1">
        <script src="../static/scripts/pollock.js"></script>
    </canvas>

</body>
    


</html>